@import "slider";
.main-about-me {
	width: 100%;
	color: $text-color-dark;
	text-align: center;
}

.about-me-header {
	width: 100%;
	margin: 3rem 0rem;
}
.about-me-article {
	width: 100%;
	padding: 0rem 0rem;

	section {
		margin: 4rem 0rem;
	}
}
.paragraph-with-slider {
	width: 100%;
	padding: 1rem 3rem;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(-90deg, $dark-bg 55%, $light-bg 55%);

	.slider {
		min-width: 450px;
		background-color: $dark-bg;
	}
	.text {
		width: 40%;
		color: $text-color-light;
	}
}

.my-qualifications-section {
	background-color: $dark-bg;
	color: $text-color-light;
	padding: 3rem 3rem;
}
.my-qualifications {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.qualifications-text {
	margin: 2rem 0rem;
}
.qualifications-container {
	width: 100%;
}
.qualifications-grid {
	grid-template-columns: 3;
	grid-template-rows: auto;
	position: relative;
}

.qualification {
	padding: 1rem 2rem;
	width: 15rem;
	background-color: $light-bg;
	color: $text-color-dark;
	cursor: pointer;

	img {
		width: 80%;
		max-height: auto;
		border-radius: 8px;
	}
}

@import "about-me-media-queries";
