.button-white-transparent {
	border: 3px solid $text-color-light;
	padding: 5px 15px;
	cursor: pointer;
}
.button-white-transparent:hover {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0) 30%,
		rgba(255, 255, 255, 0.6) 100%
	);
	background-size: 400% 400%;
	animation: gradient 0.2s;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
	color: $text-color-dark;
	transition: 0.5s ease-out all;
}

.button-color-bg {
	position: relative;
	top: 0;
	right: 0;
	color: $text-color-light;
	background-color: $primary-color;

	width: auto;
	max-height: auto;
	padding: 1rem 2rem;
	border: none;
	border-radius: 15px;
	box-shadow: -2px 2px 8px 0px rgba(50, 50, 50, 0.75);
	transition: $transision-ease;
}
.button-color-bg:hover {
	top: -5px;
	right: -5px;
	box-shadow: -8px 12px 8px 0px rgba(50, 50, 50, 0.75);
	background-color: $secondary-color;
	cursor: pointer;
	color: $text-color-light;
}
.button-color-bg:active {
	transition: none;
	color: $text-color-light;
	top: -3px;
	right: -3px;
	box-shadow: -6px 10px 8px 0px rgba(50, 50, 50, 0.75);
}

.button-color-animated-arrow {
	display: block;
	width: 17rem;
	height: auto;
	text-align: center;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	background-color: $primary-color;
	color: $text-color-light;
	padding: 1rem 1.5rem;
}
.button-color-animated-arrow:hover {
	background-color: $third-color;
	color: $text-color-light;
}

@keyframes gradient {
	0% {
		background-position: -30% -30%;
	}
	100% {
		background-position: 0% 0%;
	}
}
