body {
	background-color: $light-bg;
	width: 100%;
	height: auto;
	color: $text-color-light;
	font-family: "Poppins", sans-serif;
}


.upbar {
	background-color: #000;
	width: 100%;
	padding: 1rem;
	max-height: 6.5vh;
	min-height: 6.5vh;
	.upbar-container {
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;

		.upbar-link {
			color: $text-color-light;
			font-size: 0.9rem;
			display: block;
			text-decoration: none;
			margin-left: 1rem;
		}
		.upbar-link:hover {
			text-decoration: none;

			.upbar-item span {
				color: $primary-color;
				text-decoration: none;
				transition: $transision-ease;
			}
			.upbar-item i {
				font-size: 1.6rem;
				text-decoration: none;
				transition: $transision-ease;
			}
		}
		.upbar-item span {
			font-size: 0.9rem;
			font-family: "Kanit", sans-serif;
		}
		.upbar-item i {
			font-size: 1.5rem;
			color: $primary-color;
			margin-right: 10px;
		}
	}
}
/*Nav bar*/
.navbar {
	width: 100%;
	max-height: 15vh;
	min-height: 15vh;
	background-color: $dark-bg;
	padding: 0.8rem 0;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
	box-shadow: 0px 15px 20px 2px grey;

	.logo {
		#logo-img {
			max-width: auto;
			height: 7rem;
			border-radius: 5%;
		}
	}

	nav {
		height: 100%;
		ul {
			justify-content: space-evenly;
			li {
				list-style-type: none;
				display: block;
				margin: 0 3rem 0 0;
				a {
					text-decoration: none;
					color: $text-color-light;
				}

				a:hover {
					color: $secondary-color;
					border-bottom: 3px solid $secondary-color;
				}

				a:active {
					color: $primary-color;
					border-bottom: 3px solid $primary-color;
				}
			}
		}

		#hamburger {
			display: none;
			i {
				font-size: 2.2rem;
				color: $text-color-light;
			}
		}
		#hamburger:hover {
			i {
				color: $primary-color;
			}
		}
	}
}

// Mobile Menu
#mobile-menu-container {
	width: 50%;
	height: 100vh;
	background-color: $mobile-menu-dark-bg;
	z-index: 10000;
	position: absolute;
	top: 0vh;
	right: 0;

	.close-icon {
		cursor: pointer;
		text-align: center;
		margin: 1.4rem 1.2rem 1.4rem 75%;
		i {
			font-size: 2.5rem;
		}
	}
	.close-icon:hover {
		color: $primary-color;
	}

	#mobile-menu {
		width: 100%;
		height: 35%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		list-style-type: none;
		li {
			a {
				color: $text-color-light;
			}
			a:hover {
				color: $primary-color;
			}
			a:active {
				color: $secondary-color;
				border-bottom: 3px solid $secondary-color;
			}
		}
	}
	.quick-contact {
		width: 80%;
		height: 12rem;
		margin: 0rem auto;
		text-align: center;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

.active {
	display: block;
}
.inactive {
	display: none;
}

/*Showcase*/
.showcase {
	min-height: 80vh;
	max-height: 85vh;
	width: 100%;
	background: url("../img/pexels-gratisography-474.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;

	.bg-gradient {
		width: 100%;
		background: rgb(0, 0, 0);
		background: linear-gradient(
			130deg,
			rgba(0, 0, 0, 0.9) 0%,
			rgba(90, 90, 90, 0.7) 40%,
			rgba(90, 90, 90, 0.6) 50%,
			rgba(90, 90, 90, 0.7) 65%,
			rgba(214, 181, 225, 0.6) 100%
		);

		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.showcase-paragraph {
			width: 100%;
			p {
				font-size: 3rem;
				font-weight: 500;
				opacity: 100%;
			}
		}
		.line-with-key-container {
			width: 100%;
			justify-content: center;
			align-items: center;

			.line-left {
				width: 30%;
			}
			.key-icon {
				margin: 0 40px;
				i {
					font-size: 2.5rem;
				}
			}
			.line-right {
				width: 30%;
			}
		}
		.check-for-more {
			margin-top: 9rem;
			a {
				display: block;
				color: $text-color-light;
			}
			a:hover {
				color: $text-color-dark;
			}
		}
	}
}

/*What I am doing*/
.container-what-i-am-doing {
	position: relative;
	width: 100%;
	// height: auto;
	//Paski oddzielające
	.divider-1 {
		position: absolute;
		top: -3.5rem;
		width: 100%;
		background-color: $dark-bg;
		height: 7rem;
		color: $text-color-dark;
		transform: skewY(2deg);
	}
	.divider-2 {
		position: absolute;
		top: -3.5rem;
		width: 100%;
		background-color: $dark-bg;
		height: 9rem;
		color: $text-color-dark;
		transform: skewY(-2deg);
	}

	.container-grid {
		width: 100%;
		//height: auto;
		// position: absolute;

		padding: 8rem 5rem;
		color: $text-color-dark;

		h1 {
			margin-bottom: 3rem;
		}
		.services {
			margin-bottom: 2rem;
			justify-content: stretch;
		}
		//grid
		.service-1 {
			grid-column-start: 1;
			grid-column-end: 4;
			//margin-bottom: 3rem;
			border: 6px solid $secondary-color;

			img {
				width: 8rem;
				max-height: auto;
			}

			p {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			a {
				font-size: 1.2rem;
				.visible {
					transition: $transision-ease;
					visibility: hidden;
					font-size: 1.2rem;
				}
			}
			a:hover {
				.visible {
					visibility: visible;
					padding-left: 1rem;
				}
			}
		}

		.service-2 {
			width: 100%;
			height: 100%;
			img {
				width: 8rem;
				max-height: auto;
			}

			p {
				font-size: 1.5rem;
				margin-bottom: 1rem;
			}

			a {
				font-size: 1.2rem;
				.visible {
					transition: $transision-ease;
					visibility: hidden;
					font-size: 1.2rem;
				}
			}
			a:hover {
				.visible {
					visibility: visible;
					padding-left: 1rem;
				}
			}
		}
	}
	.price-list {
		width: 100%;
		// position: relative;
		button {
			font-size: 2rem;
		}
	}
}

/*About me*/
.about-me-container {
	padding: 4rem 0;
	grid-template-columns: 10% 1fr 1fr 10%;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	color: $text-color-light;
	background-color: $dark-bg;

	.photo {
		grid-column-start: 2;
		grid-column-end: 3;
		text-align: center;

		img {
			width: 100%;
			max-height: auto;
			border-radius: 15px;
			box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.75);
		}
	}

	.text {
		text-align: justify;
		margin-left: 5rem;
		padding: 1rem 2rem;
		border-left: 6px solid $text-color-light;
		border-radius: 15px;

		p {
			margin-bottom: 1.5rem;
		}
		a {
			.visible {
				visibility: hidden;
			}
		}

		a:hover {
			.visible {
				transition: $transision-ease;
				visibility: visible;
				padding-left: 1rem;
			}
		}
	}
}

/*Footer*/
footer {
	width: 100%;
	height: auto;
	background-color: #000;
	color: $text-color-light;

	.footer {
		padding: 4rem 0;
		width: 100%;
		height: auto;

		grid-template-columns: 10% 15% 1fr 3fr 10%;
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;

		.footer-logo {
			grid-column-start: 2;
			grid-column-end: 3;
			img {
				width: 7rem;
				max-height: auto;
				border-radius: 5px;
			}
		}

		.footer-menu {
			text-align: center;
			width: 100%;
			margin: 0rem 2rem;
			ul {
				text-align: center;
				width: 100%;

				li {
					list-style-type: none;
					display: block;

					a {
						text-decoration: none;
						color: $text-color-light;
					}

					a:hover {
						color: $secondary-color;
						border-bottom: 3px solid $secondary-color;
					}

					a:active {
						color: $primary-color;
						border-bottom: 3px solid $primary-color;
					}
				}
			}
		}
		.footer-kontakt {
			width: 100%;
			height: 100%;
			justify-content: space-evenly;
			align-content: center;
			.footer-line {
				margin: auto 0;
				height: 75%;
				border-left: 3px dotted #434343;
			}
			.tel-email {
				text-align: center;
				flex-direction: column;
				justify-content: center;

				.social-media {
					width: 100%;
					height: auto;
					margin-top: 2rem;
					i {
						font-size: 3rem;
					}

					a .facebook-icon {
						color: #4267b2;
					}
					a .facebook-icon:hover {
						color: #1044ac;
					}
					a .twitter-icon {
						color: #1da1f2;
					}
					a .twitter-icon:hover {
						color: #0076c0;
					}
				}
			}
		}
		.footer-map {
			iframe {
				border-radius: 10px;
			}
		}
	}
	.copy {
		padding-bottom: 1rem;
	}
}

@import "home-media-queries";
