@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,700;1,400&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Variables*/
/*Classes universal*/
.text-align-center {
  text-align: center;
}

.text-color-light {
  color: #fff;
}

.text-color-dark {
  color: #000;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #cc6cd9;
}

a:hover {
  color: #976fbf;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

hr {
  border: 1px solid #fff;
  border-radius: 10%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.card {
  position: relative;
  width: auto;
  height: auto;
  border: 3px solid #000;
  border-radius: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 20px;
  -webkit-box-shadow: -2px 2px 8px 0px rgba(50, 50, 50, 0.75);
          box-shadow: -2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  top: 0;
  right: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover {
  top: -5px;
  right: -5px;
  -webkit-box-shadow: -8px 12px 8px 0px rgba(50, 50, 50, 0.75);
          box-shadow: -8px 12px 8px 0px rgba(50, 50, 50, 0.75);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sticky ~ .content {
  padding-top: 15vh;
}

body {
  background-color: #f0f1f2;
  width: 100%;
  height: auto;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.upbar {
  background-color: #000;
  width: 100%;
  padding: 1rem;
  max-height: 6.5vh;
  min-height: 6.5vh;
}

.upbar .upbar-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.upbar .upbar-container .upbar-link {
  color: #fff;
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  margin-left: 1rem;
}

.upbar .upbar-container .upbar-link:hover {
  text-decoration: none;
}

.upbar .upbar-container .upbar-link:hover .upbar-item span {
  color: #cc6cd9;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.upbar .upbar-container .upbar-link:hover .upbar-item i {
  font-size: 1.6rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.upbar .upbar-container .upbar-item span {
  font-size: 0.9rem;
  font-family: "Kanit", sans-serif;
}

.upbar .upbar-container .upbar-item i {
  font-size: 1.5rem;
  color: #cc6cd9;
  margin-right: 10px;
}

/*Nav bar*/
.navbar {
  width: 100%;
  max-height: 15vh;
  min-height: 15vh;
  background-color: #323c40;
  padding: 0.8rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-box-shadow: 0px 15px 20px 2px grey;
          box-shadow: 0px 15px 20px 2px grey;
}

.navbar .logo #logo-img {
  max-width: auto;
  height: 7rem;
  border-radius: 5%;
}

.navbar nav {
  height: 100%;
}

.navbar nav ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar nav ul li {
  list-style-type: none;
  display: block;
  margin: 0 3rem 0 0;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar nav ul li a:hover {
  color: #976fbf;
  border-bottom: 3px solid #976fbf;
}

.navbar nav ul li a:active {
  color: #cc6cd9;
  border-bottom: 3px solid #cc6cd9;
}

.navbar nav #hamburger {
  display: none;
}

.navbar nav #hamburger i {
  font-size: 2.2rem;
  color: #fff;
}

.navbar nav #hamburger:hover i {
  color: #cc6cd9;
}

#mobile-menu-container {
  width: 50%;
  height: 100vh;
  background-color: #323c40ee;
  z-index: 10000;
  position: absolute;
  top: 0vh;
  right: 0;
}

#mobile-menu-container .close-icon {
  cursor: pointer;
  text-align: center;
  margin: 1.4rem 1.2rem 1.4rem 75%;
}

#mobile-menu-container .close-icon i {
  font-size: 2.5rem;
}

#mobile-menu-container .close-icon:hover {
  color: #cc6cd9;
}

#mobile-menu-container #mobile-menu {
  width: 100%;
  height: 35%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

#mobile-menu-container #mobile-menu li a {
  color: #fff;
}

#mobile-menu-container #mobile-menu li a:hover {
  color: #cc6cd9;
}

#mobile-menu-container #mobile-menu li a:active {
  color: #976fbf;
  border-bottom: 3px solid #976fbf;
}

#mobile-menu-container .quick-contact {
  width: 80%;
  height: 12rem;
  margin: 0rem auto;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

/*Showcase*/
.showcase {
  min-height: 80vh;
  max-height: 85vh;
  width: 100%;
  background: url("../img/pexels-gratisography-474.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.showcase .bg-gradient {
  width: 100%;
  background: black;
  background: linear-gradient(130deg, rgba(0, 0, 0, 0.9) 0%, rgba(90, 90, 90, 0.7) 40%, rgba(90, 90, 90, 0.6) 50%, rgba(90, 90, 90, 0.7) 65%, rgba(214, 181, 225, 0.6) 100%);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .bg-gradient .showcase-paragraph {
  width: 100%;
}

.showcase .bg-gradient .showcase-paragraph p {
  font-size: 3rem;
  font-weight: 500;
  opacity: 100%;
}

.showcase .bg-gradient .line-with-key-container {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .bg-gradient .line-with-key-container .line-left {
  width: 30%;
}

.showcase .bg-gradient .line-with-key-container .key-icon {
  margin: 0 40px;
}

.showcase .bg-gradient .line-with-key-container .key-icon i {
  font-size: 2.5rem;
}

.showcase .bg-gradient .line-with-key-container .line-right {
  width: 30%;
}

.showcase .bg-gradient .check-for-more {
  margin-top: 9rem;
}

.showcase .bg-gradient .check-for-more a {
  display: block;
  color: #fff;
}

.showcase .bg-gradient .check-for-more a:hover {
  color: #000;
}

/*What I am doing*/
.container-what-i-am-doing {
  position: relative;
  width: 100%;
}

.container-what-i-am-doing .divider-1 {
  position: absolute;
  top: -3.5rem;
  width: 100%;
  background-color: #323c40;
  height: 7rem;
  color: #000;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

.container-what-i-am-doing .divider-2 {
  position: absolute;
  top: -3.5rem;
  width: 100%;
  background-color: #323c40;
  height: 9rem;
  color: #000;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

.container-what-i-am-doing .container-grid {
  width: 100%;
  padding: 8rem 7rem;
  color: #000;
}

.container-what-i-am-doing .container-grid h1 {
  margin-bottom: 3rem;
}

.container-what-i-am-doing .container-grid .services {
  margin-bottom: 2rem;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.container-what-i-am-doing .container-grid .service-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border: 6px solid #976fbf;
}

.container-what-i-am-doing .container-grid .service-1 img {
  width: 8rem;
  max-height: auto;
}

.container-what-i-am-doing .container-grid .service-1 p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container-what-i-am-doing .container-grid .service-1 a {
  font-size: 1.2rem;
}

.container-what-i-am-doing .container-grid .service-1 a .visible {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  font-size: 1.2rem;
}

.container-what-i-am-doing .container-grid .service-1 a:hover .visible {
  visibility: visible;
  padding-left: 1rem;
}

.container-what-i-am-doing .container-grid .service-2 {
  width: 100%;
  height: 100%;
}

.container-what-i-am-doing .container-grid .service-2 img {
  width: 8rem;
  max-height: auto;
}

.container-what-i-am-doing .container-grid .service-2 p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container-what-i-am-doing .container-grid .service-2 a {
  font-size: 1.2rem;
}

.container-what-i-am-doing .container-grid .service-2 a .visible {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  font-size: 1.2rem;
}

.container-what-i-am-doing .container-grid .service-2 a:hover .visible {
  visibility: visible;
  padding-left: 1rem;
}

.container-what-i-am-doing .price-list {
  width: 100%;
}

.container-what-i-am-doing .price-list button {
  font-size: 2rem;
}

/*About me*/
.about-me-container {
  padding: 4rem 0;
  -ms-grid-columns: 10% 1fr 1fr 10%;
      grid-template-columns: 10% 1fr 1fr 10%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #323c40;
}

.about-me-container .photo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.about-me-container .photo img {
  width: 100%;
  max-height: auto;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.75);
          box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.75);
}

.about-me-container .text {
  text-align: justify;
  margin-left: 5rem;
  padding: 1rem 2rem;
  border-left: 6px solid #fff;
  border-radius: 15px;
}

.about-me-container .text p {
  margin-bottom: 1.5rem;
}

.about-me-container .text a .visible {
  visibility: hidden;
}

.about-me-container .text a:hover .visible {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: visible;
  padding-left: 1rem;
}

/*Footer*/
footer {
  width: 100%;
  height: auto;
  background-color: #000;
  color: #fff;
}

footer .footer {
  padding: 4rem 0;
  width: 100%;
  height: auto;
  -ms-grid-columns: 10% 15% 1fr 3fr 10%;
      grid-template-columns: 10% 15% 1fr 3fr 10%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .footer-logo {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

footer .footer .footer-logo img {
  width: 7rem;
  max-height: auto;
  border-radius: 5px;
}

footer .footer .footer-menu {
  text-align: center;
  width: 100%;
  margin: 0rem 2rem;
}

footer .footer .footer-menu ul {
  text-align: center;
  width: 100%;
}

footer .footer .footer-menu ul li {
  list-style-type: none;
  display: block;
}

footer .footer .footer-menu ul li a {
  text-decoration: none;
  color: #fff;
}

footer .footer .footer-menu ul li a:hover {
  color: #976fbf;
  border-bottom: 3px solid #976fbf;
}

footer .footer .footer-menu ul li a:active {
  color: #cc6cd9;
  border-bottom: 3px solid #cc6cd9;
}

footer .footer .footer-kontakt {
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .footer .footer-kontakt .footer-line {
  margin: auto 0;
  height: 75%;
  border-left: 3px dotted #434343;
}

footer .footer .footer-kontakt .tel-email {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer .footer-kontakt .tel-email .social-media {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

footer .footer .footer-kontakt .tel-email .social-media i {
  font-size: 3rem;
}

footer .footer .footer-kontakt .tel-email .social-media a .facebook-icon {
  color: #4267b2;
}

footer .footer .footer-kontakt .tel-email .social-media a .facebook-icon:hover {
  color: #1044ac;
}

footer .footer .footer-kontakt .tel-email .social-media a .twitter-icon {
  color: #1da1f2;
}

footer .footer .footer-kontakt .tel-email .social-media a .twitter-icon:hover {
  color: #0076c0;
}

footer .footer .footer-map iframe {
  border-radius: 10px;
}

footer .copy {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }
  /*Navbar*/
  .upbar {
    max-height: 7rem;
  }
  .navbar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar .logo #logo-img {
    height: 6rem;
  }
  .navbar nav {
    overflow-y: visible;
  }
  .navbar nav #desctop-menu {
    display: none;
  }
  .navbar nav #hamburger {
    display: block;
  }
  .showcase .check-for-more {
    margin-top: 3rem;
  }
  .container-what-i-am-doing .container-grid {
    padding: 8rem 3rem;
  }
  .container-what-i-am-doing .grid {
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .container-what-i-am-doing .services {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .container-what-i-am-doing .services .service-1 {
    width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .container-what-i-am-doing .services .service-2 {
    width: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .about-me-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
    padding: 1.5rem 2rem;
  }
  .about-me-container .photo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    padding: 2rem 3rem;
  }
  .about-me-container .photo img {
    max-width: 80%;
    max-height: auto;
  }
  .about-me-container .text {
    border-top: 6px solid #fff;
    border-left: none;
    margin-left: 0rem;
  }
  .about-me-container .text a {
    margin: 0rem auto;
  }
  footer .grid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 0rem;
            column-gap: 0rem;
  }
  footer .footer .footer-logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    width: 4rem;
    max-height: auto;
  }
  footer .footer .footer-menu ul {
    padding: 0rem auto;
  }
  footer .footer .footer-menu ul li {
    margin-bottom: 1rem;
  }
  footer .footer .footer-menu ul li a {
    font-size: 1.2rem;
  }
  footer .footer .footer-kontakt {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 3rem;
  }
  footer .footer .footer-kontakt .footer-line {
    display: none;
  }
  footer .footer .footer-kontakt .footer-map {
    text-align: center;
  }
  footer .footer .footer-kontakt .tel-email {
    margin-top: 0rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .footer .footer-kontakt .tel-email .social-media {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.button-white-transparent {
  border: 3px solid #fff;
  padding: 5px 15px;
  cursor: pointer;
}

.button-white-transparent:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.6)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.6) 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 0.2s;
          animation: gradient 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: #000;
  -webkit-transition: 0.5s ease-out all;
  transition: 0.5s ease-out all;
}

.button-color-bg {
  position: relative;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #cc6cd9;
  width: auto;
  max-height: auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: -2px 2px 8px 0px rgba(50, 50, 50, 0.75);
          box-shadow: -2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.button-color-bg:hover {
  top: -5px;
  right: -5px;
  -webkit-box-shadow: -8px 12px 8px 0px rgba(50, 50, 50, 0.75);
          box-shadow: -8px 12px 8px 0px rgba(50, 50, 50, 0.75);
  background-color: #976fbf;
  cursor: pointer;
  color: #fff;
}

.button-color-bg:active {
  -webkit-transition: none;
  transition: none;
  color: #fff;
  top: -3px;
  right: -3px;
  -webkit-box-shadow: -6px 10px 8px 0px rgba(50, 50, 50, 0.75);
          box-shadow: -6px 10px 8px 0px rgba(50, 50, 50, 0.75);
}

.button-color-animated-arrow {
  display: block;
  width: 17rem;
  height: auto;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #cc6cd9;
  color: #fff;
  padding: 1rem 1.5rem;
}

.button-color-animated-arrow:hover {
  background-color: #7668a6;
  color: #fff;
}

@-webkit-keyframes gradient {
  0% {
    background-position: -30% -30%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: -30% -30%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.main-uslugi {
  width: 100%;
  height: 100%;
}

.header-uslugi {
  color: #000;
}

.car-modules {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  margin: 3rem 0rem;
}

.car-modules .module {
  width: 80%;
}

.car-modules .module .button-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: #f0f1f2;
  border: 3px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: -2px 2px 8px 0px rgba(50, 50, 50, 0.75);
          box-shadow: -2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  z-index: 1;
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.car-modules .module .button-services .service-img {
  width: 3rem;
}

.car-modules .module .button-services span {
  font-size: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.car-modules .module .button-services i {
  font-size: 1.8rem;
}

.car-modules .module .active-button {
  background-color: #7668a6;
  color: #fff;
}

.car-modules .module .module-services {
  display: block;
  max-height: 0rem;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.car-modules .module .module-services .module-services-list {
  width: 100%;
  opacity: 1;
  list-style-type: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 1rem;
}

.car-modules .module .module-services .module-services-list .module-services-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-modules .module .module-services .module-services-list .module-services-list-item .price {
  font-weight: 600;
}

.car-modules .module .module-services .module-services-list .module-services-list-item .service {
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */