#Przekierowanie na bezWWW
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.tomek-strona.netlify.app$ [NC]
RewriteRule ^(.*)$ http://tomek-strona.netlify.app/$1 [R=301,L]

#Zmiana domyślnego pliku
DirectoryIndex /index.html
